#time {
    font-size: 2em;
    margin-top: 20px;
    color:rgb(177, 210, 239);
}
#hoverText {
    text-align: center;
    background-color:aliceblue;
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    color:rgb(148, 192, 230);
}
body{
    background-color:rgb(103, 127, 148);
}
.container {
    position: relative;
    width: 100%; 
    max-width: 300px; 
    margin: auto; 
    overflow: hidden;
}

.image {
    width: 100%;
    object-fit: cover;     transition: transform 0.3s ease;
}

.text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color:rgb(210, 231, 249);
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease, top 0.3s ease; 
}

.container:hover .image {
    transform: translateY(30px);
}

.container:hover .text {
    top: 15px; 
    opacity: 1; 
}
body{
  margin:300px;
}
